<h4>User profile: </h4>

<div class="card">
  <div class="card-body">
    <h4> <%= data.firstname + ' '+ data.lastname %> </h4>
    <p>Quote: <%= data.quote %></p>
    <p>Age: <%= data.age %></p>
  </div>
</div>